---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bourbon/bourbon";

// Our variables
$base-font-family: 'Raleway', Helvetica, Arial, sans-serif;
$h-font-family: 'Ubuntu Condensed', sans-serif;
$base-font-size:   1rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

h1,h2,h3,h4,h5,h6 {
	font-family: $h-font-family;
	text-transform: uppercase;
	letter-spacing:0.1rem; 
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "smooth"

;

// .logo {
//   position: fixed;
//   z-index: 1;
//   margin: 0;
//   top: 10%;
//   right: 50px;
//   width:80px;
//   height: 60px;
//   background: url("{{ site.url }}/images/logo.svg") no-repeat center left, white;
//   background-size: 80px;
//   -webkit-transform: translateY(-50%);
//       -ms-transform: translateY(-50%);
//           transform: translateY(-50%);


// }

.logo1 {
  
  width:80px;
  height: 80px;
  float: right;
  
  // background: url("{{ site.url }}/images/logo.svg") no-repeat center left, white;
  // background-size: 80px;
  // &:hover {background: linear-gradient(#C4E929, #C4E929);}

}

.logo0 {
	position: fixed;
  	z-index: 1;
  	margin: 0;
  	top: 5%;
  	right: 50px;
	p {
		
	  clear: both;
	  font-family: $h-font-family;
	  color: rgba(0,0,0,0.6);
	  font-weight: 700;
	  letter-spacing: 0.1rem;
	  font-size: 1rem;
	  text-align: right;
	  text-transform: uppercase;
	}
}

.outer {
    border:10px rgba(0,0,0,0.6) solid;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


#scrollUp { position: fixed; bottom: 10px; right: 10px; width: 4rem; height: 4rem; background: rgba(0,0,0,0.2); text-align: center; z-index: 101; overflow: hidden; text-indent: -999px; }
#scrollUp:before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: block; font-size: 0.9rem; font-family: $h-font-family; letter-spacing: 0.1rem; color:white;content: "TOP"; line-height: 4rem; text-indent: 0; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
#scrollUp:hover { background: #C4E929; }
#scrollUp:hover:before { color:black; 
	-webkit-transform: translate(0px, -5px); -moz-transform: translate(0px, -5px); -o-transform: translate(0px, -5px); -ms-transform: translate(0px, -5px); transform: translate(0px, -5px); }
