<a id="scrollUp" href="#" style="display: block;">Back to Top</a>
<footer class="site-footer">
  

  <div class="wrapper">
      <div class="footer-col">
        <div class="social-media-list">

          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}"><div class="github"></div></a>
          {% endif %}

          {% if site.dribbble_username %}
          
            <a href="https://dribbble.com/{{ site.dribbble_username }}"><div class="dribbble"></div>
            </a>
  
          {% endif %}

          <a href="mailto:{{ site.email }}"><div class="email"></div></a>

        </ul>
      </div>

      <div class="footer-col">Built with ♥ by me
      </div>

      <!-- <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div> -->


<!--   </div> -->

</footer>
   

    <script>
      var nav = responsiveNav(".nav-collapse");
    </script>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

    <script src="js/smooth.js"></script>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="/js/hamburger.js"></script>