<a id="scrollUp" href="#" style="display: block;">Back to Top</a>
<a class="pagetop" href="#">go to top</a>

<footer class="site-footer">
  

  <div class="wrapper">
      <div class="footer-col">
        <div class="social-media-list">

          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}"><div class="github"></div></a>
          {% endif %}

          {% if site.dribbble_username %}
          
            <a href="https://dribbble.com/{{ site.dribbble_username }}"><div class="dribbble"></div>
            </a>
  
          {% endif %}

          <a href="mailto:{{ site.email }}"><div class="email"></div></a>

        </ul>
      </div>
    </div>

      <div class="footer-col"><p>Built with ♥ by me
      </p></div>

      <!-- <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div> -->


<!--   </div> -->

</footer>
<!-- <div class="outer"> </div> -->
   

    <script>
      var nav = responsiveNav(".nav-collapse");
    </script>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

    <script src="js/smooth.js"></script>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="/js/hamburger.js"></script>

<!--  -->
<script type="text/javascript">
<!--

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12374401-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

//-->
</script>