<header class="site-header">

  <div id="navi_btn"><span></span></div>

  <nav class="nav-collapse">
    <ul>
          {% for page in site.pages %}
            {% if page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
    </ul>
  </nav>

</header>

  <div class="logo0"><a href="{{ site.baseurl }}/">
    <p>xinyu wang<br>
    Web & UI design</p>
    </a>
  </div>

<ul class="sidenav">
          {% for page in site.pages %}
            {% if page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
</ul>