/**
 * Site header
 */
.site-header {
    position: relative;
    width:100%;
    background-color: rgba(0,0,0,0.6);
    
    a {
        color:white;
    }
}



/**
 * Site footer
 */
.site-footer {
    position: fixed;
    height:5rem;
    bottom: 10px;
    left:10px;
    right:10px;
    padding: 14px 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
    // &:hover {
    // -webkit-transform: translate(0px, -5px); 
    // -moz-transform: translate(0px, -5px); 
    // -o-transform: translate(0px, -5px); 
    // -ms-transform: translate(0px, -5px); 
    // transform: translate(0px, -5px); 
    // -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; 
    // }
    @include media-query($on-palm) {
    height:4rem;}
}


.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
  div {
    width:2.5rem;
    height: 2.5rem;
    margin-right: 0.3rem;
    float: left;
    @include border-top-radius(50%);
      @include border-right-radius(50%);
      @include border-bottom-radius(50%);
      @include border-left-radius(50%);
      -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;
    }}
.github {
    background: url("http://xinyudesign.com/images/github13.svg") no-repeat center center, linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)) ;
    background-size: 1.5rem;
    
    &:hover{ background: url("http://xinyudesign.com/images/github13.svg") no-repeat center center, linear-gradient(#C4E929, #C4E929) ;
    background-size: 1.7rem;}


    }
  
 .dribbble {
    background: url("http://xinyudesign.com/images/dribbble6.svg") no-repeat center center, linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) ;
    background-size: 1rem;
    &:hover{ background: url("http://xinyudesign.com/images/dribbble6.svg") no-repeat center center, linear-gradient(#C4E929, #C4E929) ;
    background-size: 1.2rem;}
}
  
.email {
    background: url("http://xinyudesign.com/images/email.svg") no-repeat center center, linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)) ;
    background-size: 1rem;
    &:hover{ background: url("http://xinyudesign.com/images/email.svg") no-repeat center center, linear-gradient(#C4E929, #C4E929) ;
    background-size: 1.2rem;}

}






.footer-col {
    float: left;
    width:100%;
    margin-bottom: $spacing-unit / 2;
    // padding-left: $spacing-unit / 2;
}




@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}





/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
