/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse {
  display: block;
  z-index: 1;
}

@include media-query($on-palm) {
  .nav-collapse {display: none;}}

.nav-collapse ul {
  margin-bottom: 4rem;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;

  @include media-query($on-palm) {
    margin-left: 80%;
    margin-top: 20%;
    display: none;

    }
}

.nav-collapse li {
  width: 100%;
  display: block;
  padding-bottom:0.5rem;
  padding-left: 3rem;
  &:nth-of-type(1) {
    padding-top: 2rem;
  }

}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: $on-palm) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
