html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}
section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0,0,0,0.5);
  min-height: 100%;
//   height: 100vh;
}

.Quick-navigation {
  position: fixed;
  z-index: 1;
  margin: 0;
  bottom: 6rem;
  left: 50px;
  // -webkit-transform: translateY(-50%);
  //     -ms-transform: translateY(-50%);
  //         transform: translateY(-50%);

  @include media-query($on-palm) {
    position: fixed;
    z-index: 1;
    margin: 0;
    top: 20%;
    left: 50px;
    }
}
.Quick-navigation-item {
  color: white;
  text-decoration: none;
  font-family: $h-font-family;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
  padding-top: 1.2rem;
  display: inline-block;
  background: rgba(0,0,0,0.6);
  width:3.3rem;
  height:3.3rem;
  @include border-top-radius(50%);
  @include border-right-radius(50%);
  @include border-bottom-radius(50%);
  @include border-left-radius(50%);
  text-align: center;
  margin-bottom: 0.3rem;
  &:nth-of-type(2) {
    background: rgba(0,0,0,0.5);
  }
  &:nth-of-type(3) {
    background: rgba(0,0,0,0.4);
  }
  &:nth-of-type(4) {
    background: rgba(0,0,0,0.3);
  }
  &:nth-of-type(5) {
    background: rgba(0,0,0,0.2);
  }

  @include media-query($on-palm) {
    width:4rem;
    height:4rem;
    display: block;
    font-size: 0.8rem;
    padding-top: 1.4rem;
    }
}




.Quick-navigation-item:hover,
.Quick-navigation-item.current {
  color: rgba(0,0,0,0.8);
  background: #C4E929;
}
// .Scroll-progress-indicator {
//   will-change: opacity, transform;
//   -webkit-transition: all 0.5s;
//           transition: all 0.5s;
//   left: 200px;
//   border-radius: 2px;
//   position: absolute;
//   top: 50%;
//   opacity: 0;
//   padding: 2em;
//   -webkit-transform: translateX(200%) translateY(-50%);
//       -ms-transform: translateX(200%) translateY(-50%);
//           transform: translateX(200%) translateY(-50%);
//   background-color: rgba(0,0,0,0.1);
// }
// .Scroll-progress-indicator.visible {
//   -webkit-transform: translateX(-100%) translateY(-50%);
//       -ms-transform: translateX(-100%) translateY(-50%);
//           transform: translateX(-100%) translateY(-50%);
//   opacity: 1;
// }
#A, #B, #C, #D, #E {
 
}


#A {
  background: linear-gradient(rgba(0,164,235,0.5), rgba(0,164,235,0.5)), url("http://xinyudesign.com/images/sky.jpg") no-repeat center center;
  background-size:cover;
  h1 {color:rgba(0,0,0,0.8);}
}
#B {
  background-color: rgba(0,164,235,0.6);
  min-height: 600px;
}
#C {
  background-color: rgba(0,164,235,0.7);
}
#D {
  background-color: rgba(0,164,235,0.8);
  min-height: 200px;
}
#E {
  background-color: rgba(0,164,235,0.9);
}


.Scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  border: none;
  color: rgba(255,255,255,0.5);
  font-size: 1.5rem;
  padding: 0.5em;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  outline: none;
}
.Scroll-to-top.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.Scroll-to-top:hover {
  color: rgba(255,255,255,0.9);
}
