

.heroimage {
    width: 100%;
    height: 300px;
    background: url(http://xinyu0.github.io/images/home/travel0.jpg) top center no-repeat,  #3A3A3A ;
    background-size: 600px;

    margin-top: 2*$spacing-unit;
}

@include media-query($on-palm) {
.heroimage {
    margin-top: -2*$spacing-unit;
}
}

@include media-query($on-laptop) {
    .heroimage {

    margin-top: -4*$spacing-unit;
}
}

.logo {
    width:250px;
    float:left;
    position: absolute;

}

.logo2 {
    width:250px;
    float:left;
}
.myblog {
    font-size: 2em;
    padding:2em;
    clear: both;
    float: left;
    width:50%;
    background: url(http://xinyu0.github.io/images/home/power_tower.png)top center no-repeat;
    background-size: cover;
    margin-right: -3%;
    margin-bottom: 1em;

}

.about {
    font-size: 2em;
    padding:2em;
    // clear:both;
    float: right;
    width:50%;
    background: url(http://xinyu0.github.io/images/home/railroad.png)top center no-repeat;
    background-size: cover;
    margin-left: -3%;
    text-align: right;

}

.contact {
    font-size: 2em;
    padding:2em;
    // clear:both;
    
    width:100%;
    // background: url(http://xinyu0.github.io/images/home/trainfooter.png)top center no-repeat;
    background-size: cover;
    text-align: right;

}
.mywork {
    clear:both;
    font-size: 2em;
    padding:2em;
    width:100%;
    background: rgba(58,58,58,0.2);
    border:5px rgba(58,58,58,0.9) solid;
    box-sizing:border-box;
    margin-bottom: 1em;
}



.post-list {
    margin-left: 0;
    list-style: none;


    > li {
        margin-bottom: $spacing-unit;
        border:5px $brand-color solid;
        // & :nth-of-type(2n) {

        // }
        padding: 1rem;
    }
}

.front {
            width:100%;
            height:100%;
        }

.project-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
        border:5px $brand-color solid;
        float:left;
        width:80%;
        margin-top: 0px;
        height:415px;
        margin: 1rem 10%;
        clear: right;

        div {
            display: none;
            padding: 1rem;
            background: white;
            margin-top: 15%;
            // margin-top: -50%;
            h2 {
                font-size: 2rem;
            }
        }
        &:hover img {
        display: none;
        }
        &:hover div {
        display: block;
        }

        // &:hover div {
        // display: block;
        // }



    //     &:nth-of-type(3n+1) {
    //         width:415px;
    //         height:480px;
    //         img {
    //             max-height: 470px;
    //         }
    // }
    //     &:nth-of-type(2) {
    //         margin-top: 260px;
    //     // &:nth-of-type(5n+5) {
    //     //     clear:right;
    // }
}
}


@include media-query($on-palm) {
    .project-list {
    > li {
        width: 60%;
        margin-left:20%;
        margin-right:20%;

}
}
}

@include media-query($on-laptop) {
    .project-list {
    > li {
        width:375px;
        margin-left:10px;
        margin-right:10px;

}
}
}
.portfolio_quick {
    background: url(http://xinyu0.github.io/images/home/pattern.png);
    background-size: cover;

    img {
        max-height: 415px;
    }
    
    // h2 {
    //     font-size: 3rem;
    //     margin-top: -50%;
        

    // }

            }    




        
.site-nav {
    float: right;
   background: $brand-color;
   overflow: hidden;
   width:106px;

    // line-height: 56px;

    .page-link {
        color: $link-color;
        line-height: $base-line-height;
        text-decoration: none;
        // border: 2px dotted $text-color;
        
        text-align: right;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 1.3em;
        width:100%;
         padding: 5px 1rem;
         line-height:2.5;
         border-radius: 5px;
         background: rgb(58,58,58);
         background: rgba(58,58,58,0.5);
         // -webkit-text-stroke: 2px black;
         // text-shadow: 4px 0px 1px rgba(255, 255, 255, 0.4),-4px 0px 1px black,0px -4px 1px black,0px 4px 1px black;
        &:not(:first-child) {
            // margin-left: 10px;
        }
        &:hover {
        color: $brand-color;
        background: white;
        background: rgba(255,255,255,0.9);
        }

        // &:first-child {
        //      &:hover {
        //         color: white;
        //         background: rgb(44,99,88);
        //         background: rgba(44,99,88, 0.5);

        // }
        // }
        
        // &:last-child {
        //      &:hover {
        //         color:white;
        //         background: rgb(246,182,51);
        //         background: rgba(246,182,51,0.5);
        // }        
        // }
        
    }
}

@include media-query($on-palm) {
    .site-nav {
    
   width:106*2px;
    }
}

@include media-query($on-laptop) {
    .site-nav {
    
   width:106*4px;
    }
}

.aboutimg {
    display: block;
    float:right;
    width:200px;
    border-radius: 50%;
    margin:2*$spacing-unit;
}



.rss-subscribe {
    clear:both;
}


.projectpic {
    // transform:rotate(10deg);
    
    // border:5px $brand-color solid;
    display: block;
    width:80%;
    position:relative;
    min-height: 200px;
    float: right;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-right: 10%;
    img {
        width:100%;
    }

}

@include media-query($on-palm) {
    .projectpic {
         width:60%;
         margin-right:20%;
    }
}

@include media-query($on-laptop) {
    .projectpic {
         width:45%;
         margin-right:10%;
    }
}

.project-content {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(http://xinyu0.github.io/images/home/pattern.png);
    background-size:500px; 
}

.project-header {
  margin-top: 1rem;
  padding: 1rem;
  width:80%; 
  max-height: 400px;
  text-align: left;
  float: left;
  // position: absolute;
  background: linear-gradient(rgba(238, 238, 238, 0.6), rgba(238, 238, 238, 0.6));
  // margin-right: 60%;

  // border: 5px $brand-color solid;
  h1 {
    font-size: 3rem;
  }

  margin-left: 10%;
  word-break: break-all;

  .post-meta {
    
    font-size: 1.2rem;
    // opacity: .5;
  }

  h3 {
    font-family: "mplus-1m";
    font-style: oblique;
    opacity: .8;

  }

  h4 {
    font-size:1.5rem;
  }
}

@include media-query($on-palm) {
    .project-header {
         width:60%;
         margin-left: 20%;
    }
}

@include media-query($on-laptop) {
    .project-header {
         width:30%;
         margin-left: 10%;
    }
}


.article-content {
    font-size: 1rem;
    clear:both;
    padding: 1rem 10%;
    font-family: "mplus-1m";
    background: $background-color;
}

// * {border:1px red solid;}