* {
  box-sizing: border-box;
}
body {
  font-family: 'Coming Soon', cursive;
  transition: background 1s ease;
  background: #3498db;
}
p {
  color: #ecf0f1;
  font-size: 2em;
  text-align: center;
}
span {
  clear: both;
  font-size: .7em;
  color: #bdc3c7;
}
a {
  color: #c0392b;
  text-decoration: none;
}
.slide .inside {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0 3em;
}
.slide .inside p {
  display: table-cell;
  width: 100%;
  clear: both;
  vertical-align: middle;
  text-align: center;
}
