<!DOCTYPE html>
<html>

  {% include head.html %}


  <body>
  
<div class="wrapper frontpage">
  <br>
   <span>Hi! My name is Xinyu<span>.
 
   <br>I'm a Web & UI designer currently located in Austin, TX. 
   <br>
   I love being a designer. I can use my skills to share ideas, communicate for others, and make an impact. 
   <br>
   Besides design, I love music, art, comics, and tea.
   <br>I'm currently updating my site, but if you have any questions or would like to work with me, I'd love to hear from you! 
   <br>
   Email me at <a href="mailto:hello@xinyudesign.com">hello@xinyudesign.com</a> or check out my dribbble page <a href="https://dribbble.com/xinyu0">here</a>.
</div>
</body>

</html>
