<!DOCTYPE html>
<html>

  {% include head.html %}


  <body>
  
<div class="wrapper frontpage">
  <br>  <br>  <br>  <br>
   <span>Hi! My name is Xinyu<span>.
 
   <br>I'm a Web & UI designer currently located in Austin, TX. 
   <br>
   I love design because being a designer, I can use my skills to share ideas, send messages, and make an impact. 
   <br>
   Besides design, I love music, art, and tea.
   <br>If you have any questions or would like to work with me, I'd love to hear from you! Email me at <a href="mailto:hello@xinyudesign.com">hello@xinyudesign.com</a>
</div>
</body>

</html>
