<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
   
    <div class="page-content">
          <div class="wrapper">
              <section>
                <div class="col6">
                 <div class="media media_creative">
                    <a href="/work/earthday2015.html" class="media_creative--link">
                      <div class="media_creative--mask">
                        <p class="media_creative--heading">Earth Day 2015</p>
                        <span class="media_creative--border"></span>
                        <p class="media_creative--text">web</p>
                      </div>
                        <img src="http://xinyudesign.com/images/work/ed2015/iMac.png" width="100%">
                      </a>
                  </div>
                </div>

               <div class="col6">
                 <div class="media media_creative">
                    <a href="http://liginc.co.jp/works/151856" class="media_creative--link">
                      <div class="media_creative--mask">
                        <p class="media_creative--heading">Earth Day 2015</p>
                        <span class="media_creative--border"></span>
                        <p class="media_creative--text">web</p>
                      </div>
                        <img src="http://xinyudesign.com/images/work/ed2015/logo.svg" width="100%">
                      </a>
                  </div>
                </div>

                </section>
               

                              <section>
                <div class="col6">
                 <div class="media media_creative">
                    <a href="http://liginc.co.jp/works/151856" class="media_creative--link">
                      <div class="media_creative--mask">
                        <p class="media_creative--heading">Earth Day 2015</p>
                        <span class="media_creative--border"></span>
                        <p class="media_creative--text">web</p>
                      </div>
                        <img src="http://xinyudesign.com/images/work/ed2015/logo.svg" width="100%">
                      </a>
                  </div>
                </div>

               <div class="col6">
                 <div class="media media_creative">
                    <a href="http://liginc.co.jp/works/151856" class="media_creative--link">
                      <div class="media_creative--mask">
                        <p class="media_creative--heading">Earth Day 2015</p>
                        <span class="media_creative--border"></span>
                        <p class="media_creative--text">web</p>
                      </div>
                        <img src="http://xinyudesign.com/images/work/ed2015/logo.svg" width="100%">
                      </a>
                  </div>
                </div>

                </section>

          </div>
    </div>





   {% include footer.html %}

  </body>

</html>
