<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
   
    <div class="page-content">
          <div class="wrapper">
              <section>
                <div class="col6">
                 <div class="media center">
                    <a href="/projects/earthday2015.html" class="center--link">
                      <div class="center--mask">
                        <p class="center--heading">Earth Day 2015</p>
                        <span class="center--border"></span>
                        <p class="center--text">web, logo</p>
                      </div>
                        <div class="workimg ed15"></div>
                      </a>
                  </div>
                </div>

               <div class="col6">
                 <div class="media center">
                    <a href="/projects/goodreads.html" class="center--link">
                      <div class="center--mask">
                        <p class="center--heading">GoodReads</p>
                        <span class="center--border"></span>
                        <p class="center--text">web</p>
                      </div>
                        <div class="workimg gr"></div>
                      </a>
                  </div>
                </div>

                </section>
               

                              <section>
                <div class="col6">
                 <div class="media center">
                    <a href="/projects/tarka.html" class="center--link">
                      <div class="center--mask">
                        <p class="center--heading">Tarka Indian Kitchen</p>
                        <span class="center--border"></span>
                        <p class="center--text">logo</p>
                      </div>
                        <div class="workimg tarka"></div>
                      </a>
                  </div>
                </div>

               <div class="col6">
                 <div class="media center">
                    <a href="#" class="center--link">
                      <div class="center--mask">
                        <p class="center--heading">CSS ZEN Garden</p>
                        <span class="center--border"></span>
                        <p class="center--text">web</p>
                      </div>
                        <div class="workimg csszengarden"></div>
                      </a>
                  </div>
                </div>

                </section>

          </div>
    </div>





   {% include footer.html %}

  </body>

</html>
