---
layout: default_project
---

<div class="projectpic">
<img src="{{site.url}}/{{page.thumbnails}}">
</div>

<div class="post">

  <header class="project-header">
    <h1 class="post-title">{{ page.title }}</h1>
    
  
	<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	
	
	<h3>{{ page.descriptions }}</h3>
	<h4>{{ page.type }}</h4>
	
	

 </header>

  <article class="article-content">

    {{ content }}
    {{ page.tags }}
  </article>

</div>